.pagination{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	cursor: pointer;
}
.pagination div{
	padding: 5px;
	font-size: 18px;
}
.page{
	color:#77968d;
	cursor: pointer;
}
.page.active{
	color: aliceblue;
	transition: color 0.6s linear;
}