.user{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 20px;
	color: #757575;
	height: 150px;
	box-shadow: 5px 10px 30px #94bcbd;
}
.avatar{
	flex: 0 0 150px;
	margin-right: 20px;
}
.avatar img{
	width: 150px !important;
	height: 150px !important;
}
.description{
	flex: 0 1 600px;
}
.fullname{
	font-size: 20px;
	font-weight: 600;
	line-height: 26px;
}
.status{
	max-width: 500px;
	font-size: 14px;
	font-style: italic;
}
.location{
	font-size: 20px;
	line-height: 26px;
	margin-top: 35px;
}
.city{
	font-size: 18px;
}
.btn{
	align-self: flex-end;
}
button{
	min-width: 100px;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color:#77968d;
	border: none;
	background: #94bcbd; 
	box-shadow: 3px 5px 10px #77968d;
	margin: 10px;
	cursor: pointer;
}
button:focus{
	outline: none;
}
