.info{
	flex: 0 1 700px;
}
.discription{
	color: #000000;
	display: flex;
	justify-content: space-between;
}
.name{
	font-size: 16px;
	line-height: 19px;
	font-weight: 600;
}
.job, .aboutJob span{
	font-size: 12px;
	line-height: 15px;
	display: block;
}
.aboutJob{
	font-size: 14px;
	line-height: 17px;
	margin-top: 10px;
}
.status{

}
.btn{
	text-align: right;
}