.header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 50px;
	padding: 10px 20px;
	background: #94bcbd;
	box-shadow: 5px 10px 30px #77968d;
}
.logo{
	width: 40px;
	height: 50px;
}
.login{
	color: #ffffff;
}