.navbar{
	flex: 0 1 240px;
	padding: 15px 30px;
	height: 500px;
	margin-right: 20px;
	background: #94bcbd;
	box-shadow: 5px 10px 30px #77968d;
}
.item{
	color: #ffffff;
	padding: 5px 0;
}
.item:focus{
	outline: none;
}
.item.active{
	color: #1a5f4b;
	transition: color 0.6s linear;
}