.item{
	padding: 10px 0;
	background: #94bcbd;
   box-shadow: 5px 10px 30px #77968d;
   border-radius: 5px;
   margin-bottom: 10px;
}
.link{
	color: #ffffff;
	padding: 0 10px;
}
.link.active{
	color: #1a5f4b;
	transition: color 0.6s linear;
}