.item{
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	color: #000000;
	padding: 15px 0;
	border-bottom: 1px solid #706e6e;
	position: relative;
}
.item img{
	border-radius: 8px;
	box-shadow: 3px 3px 5px #706e6e;
	margin-right: 15px;
	width: 32px;
	height: 32px;
}
.content{
	margin-bottom: 10px;
	flex: 0 1 675px;
}
.text{
	font-size: 14px;
}
.name{
	font-size: 12px;
	font-weight: 600;
}
.like{
	font-size: 11px;
	color: #706e6e;
	width: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-left: 25px;
}
.like svg path {
	fill: red;
}
.data{
	font-size: 12px;
	color: #706e6e;
	background: #becce1;
	padding: 0 10px;
	position: absolute;
	left: 50%;
	bottom: -6px;
	transform: translateX(-50%);
}