.borderError{
	position: relative;
}
.borderError textarea,
.borderError input{
	border: 2px solid red;
}
.textError{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: red;
}
.summaryError{
	color: red;
	padding: 5px 0;
	font-size: 14px;
	font-style: italic;
}