body{
   background: #becce1;
}
.wrapper{
	display: flex;
	flex-direction: column;
	font-family: 'Open Sans', sans-serif;
	max-width: 1140px;
   padding: 0 15px;
   margin: 0 auto;
   position: relative;
   overflow-x: hidden;
}
.wrapper a{
	text-decoration: none;
	display: block;
}
.wrapper img{
	max-width: 100%;
}

.inner{
	display: flex;
	justify-content: space-between;
	margin: 20px 0;
}
.content{
	flex: 0 1 900px;
	padding: 0 10px;
}