.title{
	font-size: 24px;
	font-weight: 500;
	text-align: center;
	color: #7f7c7c;
	padding: 10px 0;
	border-bottom: 2px solid #7f7c7c;
}
.column{
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}
.dialog{
	flex: 0 1 250px;
	padding: 15px 0;
}
.messages{
	flex: 0 1 650px;
	margin-left: 15px;
	padding: 15px;
}
.message{

}
.text{
	height: 30px;
	width: 97.5%;
	padding: 10px;
	font-size: 14px;
	line-height: 15px;
	color: #757575;
	border: none;
	background: #cdd5d5;
	border-radius: 8px;
	margin: 15px 0; 
	box-shadow: 3px 5px 10px #77968d;
}
.text, .btn:focus{
	outline: none;
}
.btnblock{
	text-align: right;
}
.btn{
	min-width: 100px;
	padding: 5px 0;
	text-align: center;
	font-size: 14px;
	line-height: 17px;
	color:#77968d;
	border: none;
	background: #cdd5d5; 
	box-shadow: 3px 5px 10px #77968d;
	border-radius: 5px;
}